<!DOCTYPE html> 
<html>
	<head> 
		<title>KapKeep</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
	</head>
	<nav class="nav">
		<div class="left-sidebar left-bar-block">
			<h3 class="navigation">Nav</h3> 
			<li><a href="{{ url_for('index') }}" class="left-sidebar">Home</a></li>
            <li><a href="{{ url_for('occupancy') }}" class="left-sidebar">Occupany</a></li>
            <li><a href="{{ url_for('live_feed') }}" class="left-sidebar">Live Feed</a></li>
		</div>
	</nav>
	<body>
		<div class="content">
			<div class="row1">
				<div class="title">
					<h1>KapKeep</h1>
				</div>
			</div>
			<div class="row2">
                <p> Occupancy: <span id="latest"></span></p>
			</div>
			
			<div class="row3">
				<div class="body-paragraph">
					<p>
						The maximum occupancy of the building is: 40<br>

                        The remaining occupancy of the building is: <span id="curr_remaining"></span><br>
					</p>
				</div>
				
				<div class="feed"> 
				</div>
				
				<div class="feed2">
				</div>
			</div> 
		</div>
	</body>
</html>
<script>
    let latest = document.getElementById('latest');
    let curr_remaining = document.getElementById('curr_remaining');

    let xhr = new XMLHttpRequest();
    xhr.open('GET', "{{ url_for('live_occupancy')}}");
    xhr.send();
    let position = 0;

    function handleNewData() {
        // the response text include the entire response so far
        // split the messages, then take the messages that haven't been handled yet
        // position tracks how many messages have been handled
        // messages end with a newline, so split will always show one extra empty message at the end
        let messages = xhr.responseText.split('\n');
        messages.slice(position, -1).forEach(function(value) {
            latest.textContent = value;  // update the latest value in place
            curr_remaining.textContent = (40-parseInt(value)).toString();
            // build and append a new item to a list to log all output
            let item = document.createElement('li');
            item.textContent = value;
        });
        position = messages.length - 1;
    }

    let timer;
    timer = setInterval(function() {
        // check the response for new data
        handleNewData();
        // stop checking once the response has ended
        if (xhr.readyState === XMLHttpRequest.DONE) {
            clearInterval(timer);
            latest.textContent = 'Done';
        }
    }, 1000);
</script>
